nav {
  width: 20%;
  border-right: 0.5px solid grey;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 25%;
}

.links button {
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.links button:hover {
  text-decoration: underline;
}

.links button img {
  margin-bottom: -4px;
}
