.container {
  display: flex;
  flex-direction: row;
}

main {
  width: 500px;
}

.pip {
  display: flex;
  margin-left: 20px;
  border: 10px;
  border-bottom: solid 3px grey;
}

.username,
.content {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.username {
  width: 30%;
}

.content {
  justify-self: flex-end;
}
